// Specific CSS for your home-page
h1 {
    color: violet;
    // &:hover {
    //     color: $red;
    // }
    font-family:'Copperplate Gothic Light';
    // background-color: rgb(122, 17, 226);
}
.whip{
    color: red;
}

p {
    color: $blue;
}