<div class="navbar navbar-expand-sm navbar-black navbar-lewagon">
  <div class="container-fluid">
    <%# <a class="navbar-brand" href="#" class="ml-5"> %>
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/.png" /> BUTTON ON LEFT TOP%>
    <div class="ms-5">
      <h4 style="color:black; font-family: Copperplate Gothic Light;">Madame Vortex</h4>
<%# </a> %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Select A Death</a>
          </li>
          <%# <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li> %>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1674660722/classic_whip_red_black-modified_h7molw.png" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->    
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
<%#  %>
<%# https://res.cloudinary.com/dl4ksvrvh/image/upload/v1674323220/tastee.jpg_xhd7xh.jpg %>