
<%# BANNER %>
<div class="banner my-5" style=" background-image: linear-gradient(rgba(1,1,1,0),rgba(1,1,1,0)), url('https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_2_up4hi4.jpg ');">

</div>

  <br><br><br><br><br><br>

<img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_4_lpkwdk.jpg" class="card-img-top" alt="..."style="width:400px;height:600px;float:right;">

<img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811965/Image_zb2u3u.jpg" class="card-img-top" alt="..."style="width:400px;height:600px;float:left;">
 <body style="background-color: black;">
    <center>
        <br>
        <h1>Welcome</h1>
        <h1>.</h1>
            <br> 
        <h1>Sit down</h1>
            <h1>.</h1>
            <br> 
        <h1 class="whip"><img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1674660722/classic_whip_red_black-modified_h7molw.png" class="card-img-top" alt="..."style="width:75px;height:75px;float:center; font-color:red;"><strong> &nbsp TAKE A DEATH &nbsp </strong><img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1674660722/classic_whip_red_black-modified_h7molw.png" class="card-img-top" alt="..."style="width:75px;height:75px;float:center;"></h1>
       
        
            <h1>.</h1><br> 
 <br>        
        <h1>This will take a while</h1>
    
<br><br><br><br><br>
<br><br><br>
<%# <div classainer">
    <img src="FILL IN" class="w-100 my-4 rounded">
    <h1></h1>
</div> %>
    <h3>Before becomming my <strong>Sub</strong> You will be asked to go through my <strong>3 Step Process</strong>. </h3>
    <br>
    <h3>This is going to be much like giving <strong>birth</strong>.</h3>
    <br><br><br><br>

</center>

<img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811965/Image_zb2u3u.jpg" class="card-img-top" alt="..."style="width:300px; height:500px; float:left; margin: 100px">
 <body style="background-color: black;">
<br><br><br><br>
<h1>Step 1 Conception</h1>
<br>
<h2>I want to know:</h2>
<br>
<h3>
    <ul>
        <li>Your Name</li>
        <br>
        <li>Your Desires</li>
        <br>
        <li>What you have explored</li>
        <br>
        <li>What you wolid like to explore</li>
        <br>
        <li>Where you live (not your address)</li>
        <br>
        <li>Phone number or Email</li>
    </ul>
</h3>

</body>



<%# <div class="card" style="width: 55rem; height: 55rem;  background-color: blue;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div> %>