<h1>Madame Vortex</h1>

<p>Portland’s Queen of Subtlety</p>

<%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>

<div class="logo"></div>

<%= cl_image_tag("Image_1_iacbhe",
      width: 400, height: 300, crop: :fill) %>


<%# bootstrap card %>
<div class="container">
    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
</div>


<i class="fa-solid fa-volcano"></i>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>

<body>
    Body
</body>