<h1>Madame Vortex</h1>

<p>Portland’s Queen of Subtlety</p>

<%# <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %> 

<%# <div class="logo"></div> %>









<%# https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_2_up4hi4.jpg     Image_1_iacbhe %>
<%# BANNER %>
<div class="banner" style="background-image: linear-gradient(rgba(1,1,1,0),rgba(1,1,1,0)), url('https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_2_up4hi4.jpg ');">
  <div class="container">
    <div>
        <center>
            <h1><span>Welcome.</span></h1>
            <br> <br><br>
            <h1><span>...Sit Down... </span></h1>
            <br><br><br>
            <h1><span><strong>..Take a Death..</strong> </span></h1>
            <br><br><br>
            <h1><span>This will take a while</span></h1>
            <p>Change your life and learn to code at one of our campuses around the world.</p>
            <a class="btn btn-flat" href="#">Apply now</a>
        </div>
        </center>
    </div>
</div>

<%# https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png %>

<%# bootstrap card %>
<div class="container">
    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
</div>

<%# button %>
<i class="fa-solid fa-volcano"></i>

<%# card for background image %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>

<body>
    Body
</body>