
<%# BANNER %>
<div class="banner" style="background-image: linear-gradient(rgba(1,1,1,0),rgba(1,1,1,0)), url('https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_2_up4hi4.jpg ');">

  
  
  
  <%# <div 
  
  class="container"> %>
    <%# <div> %>
        <%# <center>
            <h1><span>Welcome.</span></h1>
            <br> <br><br>
            <h1><span>...Sit Down... </span></h1>
            <br><br><br>
            <h1><span><strong>..Take a Death..</strong> </span></h1>
            <br><br><br>
            <h1><span>This will take a while</span></h1> %>
           
            <%# <a class="btn btn-flat" href="#">Apply now</a>
        </div>
        </center> %>
    <%# </div>  %>
</div>
  <br><br><br><br>
  <br><br><br><br>

<%# https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png %>

<%# bootstrap card %>
<%# <div class="container">
    <div class="card" style="width: 25rem;">
    <img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_4_lpkwdk.jpg" class="card-img-top" alt="...">
    <%# <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> %>
    <%# </div> %> 
<%# </div> %>
<img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_4_lpkwdk.jpg" class="card-img-top" alt="..."style="width:400px;height:600px;float:right;">

<img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811965/Image_zb2u3u.jpg" class="card-img-top" alt="..."style="width:400px;height:600px;float:left;">
 <body style="background-color: black;">
    <center>
        <br><br>
        <h1>Welcome</h1>
        <h1>.</h1>
            <br> 
        <h1>Sit down</h1>
            <h1>.</h1>
            <br> 
        <h1 class="whip"><img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1674660722/classic_whip_red_black-modified_h7molw.png" class="card-img-top" alt="..."style="width:75px;height:75px;float:center; font-color:red;"><strong> &nbsp TAKE A DEATH &nbsp </strong><img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1674660722/classic_whip_red_black-modified_h7molw.png" class="card-img-top" alt="..."style="width:75px;height:75px;float:center;"></h1>
       
        
            <h1>.</h1><br> 
 <br>        
        <h1>This will take a while</h1>
    </center>
</body>


<%# <div class>
    <%# <div class="card" style="width: 25rem;">
    <%# <img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_4_lpkwdk.jpg" class="card-img-top" alt="..."> %>
    <%# <div class="card-body"> %>
        <%# <h5 class="card-title">Welcome</h5>
        <p class="card-text">Sit down...</p> %>
        <%# <p class="card-text">...Take a death</p> %>
        <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
    <%# </div> %>
    <%# </div> %>
<%# </div> %> 

<%# button %>
<%# <i class="fa-solid fa-volcano"></i> %>

<%# card for background image %>
 <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_4_lpkwdk.jpg)">
  Breakfast
</div> 

<body>
    

</body> %>