
<%# BANNER %>
<div class="banner my-5" style=" background-image: linear-gradient(rgba(1,1,1,0),rgba(1,1,1,0)), url('https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_2_up4hi4.jpg ');">


</div>
  <br>
  <center><h1><div class="style=width:75px;height:75px;float:center; font-color:red;">&nbsp Welcome &nbsp</h1></center></div>
  <br><br><br><br><br><br>


<img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811967/Image_4_lpkwdk.jpg" class="card-img-top" alt="..."style="width:400px;height:600px;float:right;">

<img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1673811965/Image_zb2u3u.jpg" class="card-img-top" alt="..."style="width:400px;height:600px;float:left;">
 <body style="background-color: black;">
    <center>
        <br>
        <h1>Welcome</h1>
        <h1>.</h1>
            <br> 
        <h1>Sit down</h1>
            <h1>.</h1>
            <br> 
        <h1 class="whip"><img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1674660722/classic_whip_red_black-modified_h7molw.png" class="card-img-top" alt="..."style="width:75px;height:75px;float:center; font-color:red;"><strong> &nbsp TAKE A DEATH &nbsp </strong><img src="https://res.cloudinary.com/dl4ksvrvh/image/upload/v1674660722/classic_whip_red_black-modified_h7molw.png" class="card-img-top" alt="..."style="width:75px;height:75px;float:center;"></h1>
       
        
            <h1>.</h1><br> 
 <br>        
        <h1>This will take a while</h1>
    
</center>
<br><br><br><br><br>
<br><br><br><br><br>
<br>
<%# <div class="container">
    <img src="FILL IN" class="w-100 my-4 rounded">
    <h1></h1>
</div> %>
    <h3>Before becomming my <strong>Sub</strong>  </h3>
    <h3>You will be asked to go through my &nbsp</h3>
    <h3> <strong>3 Step Process.  </strong></h3>
    <br>
    <h3>This is going to be much like giving birth</h3>

</body>
