.navbar-lewagon {
  justify-content: space-around, center;
  background: rgb(189, 11, 233);
  position: fixed;
  top: 5; 
  width: 100%;
  font-family: Copperplate Gothic Light;
 
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
 